<!DOCTYPE html>
<html lang="en">

<head>
	<title>Generator new Document</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<link href="../css/style.css" rel="stylesheet" />
</head>

<body>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav">
			</div>

			<div class="col-sm-9">
				<h3>Generator new Document</h3>
				<form role="form" id="medicalForm">
					<div class="form-group">
						<label for="number1">Email:</label>
						<input type="text" id="email" class="form-control" placeholder="email">
					</div>

					<div class="form-group">
						<label for="number1">Consents:</label>
						<input type="text" id="what_consents_and_approvals_are_needed_to_issue_this_shield_"
							class="form-control">
					</div>

					<div class="form-group">
						<label for="number1">Investment Date:</label>
						<input type="text" id="what_date_are_you_issuing_this_investment_agreement_"
						
							class="form-control">
					</div>

					<div class="form-group">
						<label for="male">Amount:</label>
						<input type="text" id="what_is_the_investment_amount_"
							class="form-control">
					</div>

					<div class="form-group">
						<label for="male">Investor Name:</label>
						<input type="text" id="what_is_the_investor_s_name_" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">Investment Cap:</label>
						<input type="text" id="what_valuation_cap_will_this_shield_be_converting_" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">Valuation Cap:</label>
						<input type="text" id="what_valuation_cap_will_this_shield_be_converting_" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">Company:</label>
						<input type="text" id="which_company_is_receiving_the_investment_" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">Country of Incorporation:</label>
						<input type="text" id="country_incorporation" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">Shares purchased:</label>
						<input type="text" id="shares_purchased" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">Type of Shares:</label>
						<input type="text" id="type__shares_" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">Price Per Share:</label>
						<input type="text" id="price_pershare" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">Grace period:</label>
						<input type="text" id="grace_period" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">percentage_payments:</label>
						<input type="text" id="percentage_payments" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">repurchases:</label>
						<input type="text" id="repurchases" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">EXit Multiple:</label>
						<input type="text" id="exit_multiple" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">first_refusal_partcicipation:</label>
						<input type="text" id="first_refusal_partcicipation" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">sale_materialtransaction:</label>
						<input type="text" id="sale_materialtransaction" class="form-control">
					</div>

					<div class="form-group">
						<label for="male">consent_materialtransaction:</label>
						<input type="text" id="consent_materialtransaction" class="form-control">
					</div>
					<input type="button" class="add-row" value="Post">
				</form>

				<div id="app"></div>

			</div>
		</div>
	</div>

	<footer class="container-fluid">
		<p>Footer Text</p>
	</footer>
	<script src="../js/mock-backend.js"></script>
	<script src="../js/app.js"></script>

</body>

</html>